In [1]:
import pandas as pd
import numpy as np

Write a Pandas program to create and display a one-dimensional array-like
object containing an array of data using Pandas module

In [2]:
data = [10, 20, 30, 40, 50] 
series = pd.Series(data)

print("One-dimensional array-like object (Series):")
print(series)

One-dimensional array-like object (Series):
0    10
1    20
2    30
3    40
4    50
dtype: int64

Write a Pandas program to convert a Panda module Series to Python list and it's
type.

In [3]:
series = pd.Series([10, 20, 30, 40, 50])
list_from_series = series.tolist()
list_type = type(list_from_series)
print("Python list from Pandas Series:", list_from_series)
print("Type of the Python list:", list_type)

Python list from Pandas Series: [10, 20, 30, 40, 50]
Type of the Python list: <class 'list'>

. Write a Pandas program to compare the elements of the two Pandas Series.

In [4]:

series1 = pd.Series([1, 2, 3, 4, 5])
series2 = pd.Series([1, 3, 2, 4, 5])
comparison_result = series1 == series2
print("Comparison result:")
print(comparison_result)

Comparison result:
0     True
1    False
2    False
3     True
4     True
dtype: bool

Write a Pandas program to change the data type of given a column or a Series.

In [5]:

series = pd.Series([1, 2, 3, 4, 5])
print("Original data type:")
print(series.dtype)

series = series.astype(float)
print("\nNew data type:")
print(series.dtype)

Original data type:
int64

New data type:
float64

Write a Pandas program to get the powers of an array values element-wise.

Note: First array elements raised to powers from second array

Sample data: {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}

Expected Output:

X Y Z

0 78 84 86

1 85 94 97

2 96 89 96

3 80 83 72

4 86 86 83

In [6]:

data = {'X': [78, 85, 96, 80, 86],
        'Y': [84, 94, 89, 83, 86],
        'Z': [86, 97, 96, 72, 83]}


df = pd.DataFrame(data)

powers = np.power(df.values, np.arange(1, len(df.columns) + 1))

result = pd.DataFrame(powers, columns=df.columns)

# Display the result
print("Expected Output:")
print(result)

Expected Output:
    X     Y       Z
0  78  7056  636056
1  85  8836  912673
2  96  7921  884736
3  80  6889  373248
4  86  7396  571787

6. Write a Pandas program to get the first 3 rows of a given DataFrame.

Sample Python dictionary data and list labels:

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',

'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

Expected Output:

First three rows of the data frame:

attempts name qualify score

a 1 Anastasia yes 12.5

b 3 Dima no 9.0

c 2 Katherine yes 16.5

In [7]:

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(exam_data, index=labels)


first_three_rows = df.head(3)


print("First three rows of the data frame:")
print(first_three_rows)

First three rows of the data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

Write a Pandas program to display the default index and set a column as an
Index in a given dataframe.

In [8]:
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [6, 7, 8, 9, 10],
    'C': ['a', 'b', 'c', 'd', 'e']
}


df = pd.DataFrame(data)
print("Default index:")
print(df)

df_with_index = df.set_index('C')
print("\nDataFrame with 'C' column as index:")
print(df_with_index)

Default index:
   A   B  C
0  1   6  a
1  2   7  b
2  3   8  c
3  4   9  d
4  5  10  e

DataFrame with 'C' column as index:
   A   B
C
a  1   6
b  2   7
c  3   8
d  4   9
e  5  10

Write a Pandas program to display the default index and set a column as an
Index in a given dataframe and then reset the index

In [9]:
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [6, 7, 8, 9, 10],
    'C': ['a', 'b', 'c', 'd', 'e']
}


df = pd.DataFrame(data)
print("Default index:")
print(df)

df_with_index = df.set_index('C')
print("\nDataFrame with 'C' column as index:")
print(df_with_index)


df_reset_index = df_with_index.reset_index()
print("\nDataFrame with index reset:")
print(df_reset_index)

Default index:
   A   B  C
0  1   6  a
1  2   7  b
2  3   8  c
3  4   9  d
4  5  10  e

DataFrame with 'C' column as index:
   A   B
C
a  1   6
b  2   7
c  3   8
d  4   9
e  5  10

DataFrame with index reset:
   C  A   B
0  a  1   6
1  b  2   7
2  c  3   8
3  d  4   9
4  e  5  10

Write a Pandas program to create a dataframe indexing by date and time.

In [10]:
data = {
    'value': [10, 20, 30, 40, 50],
    'category': ['A', 'B', 'C', 'D', 'E']
}

dates = pd.date_range(start = '2022-01-01', periods = 5, freq = 'H')
df = pd.DataFrame( data, index = dates)
print("DataFrame indexed by date and time:")
print(df)

DataFrame indexed by date and time:
                     value category
2022-01-01 00:00:00     10        A
2022-01-01 01:00:00     20        B
2022-01-01 02:00:00     30        C
2022-01-01 03:00:00     40        D
2022-01-01 04:00:00     50        E

Write a Pandas program to create a dataframe and set a title or name of the
index column.

In [11]:
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [6, 7, 8, 9, 10],
    'C': ['a', 'b', 'c', 'd', 'e']
}

df = pd.DataFrame(data)
df.index.name = 'INDEX'

print("DataFrame with the index column named 'IndexColumn':")
print(df)

DataFrame with the index column named 'IndexColumn':
       A   B  C
INDEX
0      1   6  a
1      2   7  b
2      3   8  c
3      4   9  d
4      5  10  e

Write a Pandas program to select a specific row of given series/dataframe by
integer index

In [13]:
s = pd.Series([10, 20, 30, 40, 50])
elem = s.iloc[2]
print("Specific element selected from Series:")
print(elem)

Specific element selected from Series:
30